<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeLeaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Contact</title>
</head>
<body>
    <section>
        <div class="card">
            <div class="card-body">
                <h2>Contacts</h2>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody> 
                      <tr th:each="n : ${contact_list}">
                        <th scope="row" th:text="${'00'+n.cid}"></th>
                        <td th:text="${n.name}"></td>
                        <td th:text="${n.email}"></td>
                        <td th:text="${n.phone}"></td>
                        <td>
                            <a type="button" class="btn btn-danger btn-sm" th:href="@{'/delete_contact/'+${n.cid}}">Delete</a>
                            <a type="button" class="btn btn-primary btn-sm" th:href="@{'/update_contact/'+${n.cid}}">Update</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </section>
</body>
</html>